.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    max-height: auto;
    max-width:100%;
}

.App-header__image {
    max-height: 15%;
    max-width:100%;
}

.App-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10% 20% 0 20%;
}

.App-form__p {
    color: #999;
    font-size: 80%;
}
